<main class="main-container d-flex h-100 w-100 m-auto">
  <form
    class="m-auto"
    [formGroup]="addProductForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
    method="POST"
  >
    <div>
      <div class="w-100" style="height: fit-content;">
        <mat-card>
          <mat-card-content>
            <!-- title, pack -->
            <div class="form-row">
              <div class="col col-8">
                <mat-form-field class="w-100 h-100" appearance="outline">
                  <mat-label>Title</mat-label>
                  <input
                    matInput
                    formControlName="title"
                    class="form-control-sm"
                    type="text"
                    placeholder="Title"
                    required
                  />
                  <mat-icon matSuffix>title</mat-icon>
                  <mat-error *ngIf="status.title.invalid">{{
                    getErrorMessage().titleError()
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col col-4">
                <!-- dropdown | mat select -->
                <mat-form-field  class="w-100" appearance="outline">
                  <mat-label>Pack</mat-label>
                  <mat-select class="form-control-sm form-inline" [formControl]="status.pack" required>
                    <mat-option *ngFor="let packType of packTypes"
                      class="form-control-sm"
                      [value]="packType.value"
                    >
                      {{packType.name}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>work_outline</mat-icon>
                  <mat-error *ngIf="status.pack.invalid">{{
                    getErrorMessage().packError()
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- title, pack -->
            <!-- weight, quantity, price -->
            <div class="form-row">
              <div class="col col-4 col-md-4">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Weight</mat-label>
                  <input
                    matInput
                    formControlName="weight"
                    class="form-control-sm"
                    type="number"
                    placeholder="Choose weight"
                    required
                  />
                  <mat-icon matSuffix>play_for_work</mat-icon>
                  <mat-error *ngIf="status.weight.invalid">{{
                    getErrorMessage().weightError()
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col col-4 col-md-4">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Quantity</mat-label>
                  <input
                    matInput
                    formControlName="quantity"
                    class="form-control-sm"
                    type="number"
                    placeholder="Choose quantity"
                    required
                  />
                  <mat-icon matSuffix>trending_up</mat-icon>
                  <mat-error *ngIf="status.quantity.invalid">{{
                    getErrorMessage().quantityError()
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col col-4 col-md-4">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Price</mat-label>
                  <input
                    matInput
                    formControlName="price"
                    class="form-control-sm"
                    type="number"
                    placeholder="Choose price"
                    required
                  />
                  <mat-icon matSuffix>attach_money</mat-icon>
                  <mat-error *ngIf="status.price.invalid">{{
                    getErrorMessage().priceError()
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- weight, quantity, price -->
            <!-- availability, shipping fee-->
            <div class="form-row">
              <div class="col col-6 col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Availability</mat-label>
                  <mat-select class="form-control-sm form-inline" [formControl]="status.availability" required>
                    <mat-option
                      class="form-control-sm"
                      [value]="true"
                    >
                      yes
                    </mat-option>
                    <mat-option
                      class="form-control-sm"
                      [value]="false"
                    >
                      no
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>check_circle</mat-icon>
                </mat-form-field>
              </div>
              <div class="col col-6 col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Shipping Fee</mat-label>
                  <input
                    matInput
                    formControlName="shippingFee"
                    class="form-control-sm"
                    type="number"
                    placeholder="shipping fee"
                    required
                  />
                  <mat-icon matSuffix>local_shipping</mat-icon>
                  <!-- <mat-error *ngIf="status.shippingFee.invalid">{{
                    getErrorMessage().shippingFeeError()
                  }}</mat-error> -->
                </mat-form-field>
              </div>
            </div>
            <!-- availability, shipping fee -->
            <!-- description, shipping info -->
            <div class="form-row">
              <div class="col col-12 col-sm-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Shipping Info</mat-label>
                  <textarea
                    matInput
                    formControlName="shippingInfo"
                    class="form-control-sm"
                    type="text"
                    required
                  ></textarea>
                  <mat-icon class="d-flex h-100 m-auto" style="width: fit-content;" matSuffix>description</mat-icon>
                </mat-form-field>
              </div>
              <div class="col col-12 col-sm-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Description</mat-label>
                  <textarea
                    matInput
                    formControlName="description"
                    class="form-control-sm"
                    type="text"
                    required
                  ></textarea>
                  <mat-icon class="d-flex h-100 m-auto" style="width: fit-content;" matSuffix>description</mat-icon>
                  <mat-error *ngIf="status.description.invalid">{{
                    getErrorMessage().descriptionError()
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- description, shipping info -->
            <!-- images, submit button -->
            <div class="form-row form-inline">
              <div class="col col-6">
                <input #imgfield type="file" class="form-control-sm w-100 " (change)="grabFiles($event)" accept="image/*" name="imgs" formenctype="multipart/form-data" upload-btn required multiple>
              </div>
              <!-- Button -->
              <div class="col-6">
                <mat-card-actions class="form-group pt-2 w-100 d-flex">
                  <button
                    class="d-flex pd-t-p5 pd-b-p5 pd-l-2 pd-r-2 ml-auto"
                    mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="addProductForm.invalid"
                    formenctype="multipart/form-data"
                  >
                    submit
                  </button>
                </mat-card-actions>
              </div>
            </div>
            <!-- upload images, submit button -->
          </mat-card-content>
          <!-- spinner -->
          <div *ngIf="showSpinner" class="spinner-container justify-content-center form-inline w-100" role="status">
            <i class="fa fa-spinner fa-spin fa-2x mg-r-p5"></i> Loading...
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</main>
