<div *ngIf="data.hasOwnProperty('error'); else elseBlock" class="">
  <div class="pd-p5 d-flex w-100" style="min-height: 25px; flex-flow: row wrap">
    <p class="d-block grey-text w-100" style="font-size: 20px;">An error occurred:</p>
    <p class="d-block w-100 dark-grey-text" style="font-size: 12px;">{{
      data.error.statusText == 'Unknown Error' ?
        'Error logging out: check internet connection and try again...' : data.error.statusText
    }}</p>
  </div>

  <div mat-dialog-actions class="pd-p5">
    <button mat-button cdkFocusInitial (click)="onClose()">Ok</button>
  </div>
</div>

<ng-template #elseBlock class="pd-p5 d-flex w-100" style="min-height: 25px; flex-flow: row wrap">
  <p class="d-block grey-text w-100" style="font-size: 20px;">
    {{data.message}}
  </p>

  <div mat-dialog-actions class="pd-p5">
    <button mat-button cdkFocusInitial (click)="onClose()">Ok</button>
  </div>
</ng-template>
