.shop-btn {
  position: sticky;
  border-radius: 0;
  bottom: 15px;
  left: 15px;
}

@media (max-width: 576px) {
  .title {
    margin-top: 5em!important;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.spinner-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;
  opacity: 0.8;
}
