<app-shop-header [url]="encURL" [c-btn]="true">
</app-shop-header>

<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <!-- Heading -->
    <h2 class="my-5 h4 text-center title">Checkout/Pay</h2>
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-5 mb-4">
        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{cart.length}}</span>
        </h4>

        <!-- Cart -->
        <ul class="list-group mb-3 z-depth-1">
          <div *ngFor="let crt of cart; index as i;">
            <li class="list-group-item d-flex justify-content-between lh-condensed cursor-p align-items-center" id="{{i}}" #_cart (click)="showFullDetails(crt.PID)">
              <div class="w-100">
                <h6 class="my-0">{{crt.title}}</h6>
                <small class="text-muted w-100 d-flex mg-t-p5"><p class="d-flex dark-grey-text mg-r-p5 my-0">Quantity:</p>{{crt.quantity}}</small>
              </div>
              <span class="text-muted">{{ crt.price | currency:'NGN':'symbol-narrow' }}</span>
              <i class="far fa-times-circle fa-2x mg-l-1" (click)="deleteFromCart($event, _cart.id)"></i>
            </li>
          </div>

          <!-- Total -->
          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>{{ total | currency:'NGN':'symbol-narrow' }}</strong>
          </li>
        </ul>
        <!-- Cart -->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-7 mb-4">
        <!--Card-->
        <form class="w-100" [formGroup]="checkoutform" (ngSubmit)="onSubmit()">
          <div class="w-100 d-flex mg-b-1">
            <div class="ml-auto d-flex form-inline">
              <p class="mg-r-2 mb-0">Cards Accepted:</p>
              <i class="fab fa-3x fa-cc-mastercard mg-r-1"></i>
              <i class="fab fa-3x fa-cc-visa mg-r-1"></i>
              <p>verve</p>
            </div>
          </div>
          <mat-card>
            <mat-card-content>
              <div class="d-block mg-b-1">
                <label class="mg-b-p5 dark-grey-text" style="font-size: 15px; font-weight: bold">Card Holder's Name</label>
                <div class="d-flex w-100 h-100 form-inline" style="font-size: 13px">
                  <p class="my-0 mg-r-1" #name>{{ fullname }}</p>
                  <div class="form-row row d-none" style="width: 90%;" #nameField>
                    <div class="col-sm-12 w-100">
                      <mat-form-field  class="w-100" appearance="outline">
                        <input
                          matInput
                          formControlName="client"
                          placeholder="Example: Adebayo Emeka Kabir"
                          class="form-control-sm"
                          type="text"
                          required
                        />
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="status.cardnumber.invalid">{{
                          getErrorMessage().clientError()
                        }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <mat-icon class="mg-l-1" (click)="showField(name, nameField, nameBtnf, nameBtns)" #nameBtnf>create</mat-icon>
                  <mat-icon class="d-none mg-l-1" (click)="showField(name, nameField, nameBtnf, nameBtns)" #nameBtns>done</mat-icon>
                </div>

                <label class="mg-t-1 mg-b-p5 dark-grey-text" style="font-size: 15px; font-weight: bold">Billing Address</label>
                <div class="d-flex w-100 h-100 form-inline" style="font-size: 13px">
                  <p class="my-0 mg-r-1" #addr>{{ address }}</p>
                  <div class="form-row row d-none" style="width: 90%;" #addressField>
                    <div class="col-sm-12 w-100">
                      <mat-form-field  class="w-100" appearance="outline">
                        <input
                          matInput
                          formControlName="address"
                          placeholder="Example: 10, white house. Ijebu, Ogun state"
                          class="form-control-sm"
                          type="text"
                          required
                        />
                        <mat-icon matSuffix>place</mat-icon>
                        <mat-error *ngIf="status.cardnumber.invalid">{{
                          getErrorMessage().addressError()
                        }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <mat-icon class="mg-l-1" (click)="showField(addr, addressField, addBtnf, addBtns)" #addBtnf>create</mat-icon>
                  <mat-icon class="d-none mg-l-1" (click)="showField(addr, addressField, addBtnf, addBtns)" #addBtns>done</mat-icon>
                </div>
              </div>

              <!-- Card number -->
              <div class="form-row row">
                <div class="col-sm-12 w-100">
                  <mat-form-field  class="w-100" appearance="outline">
                    <mat-label>Card Number</mat-label>
                    <input
                      matInput
                      formControlName="cardnumber"
                      placeholder="1234 5678 9123 4567"
                      class="form-control-sm"
                      type="text"
                      maxlength="{{cardMaxLength || 16}}"
                      required
                      #card
                      (keyup)="handleField(card, mm)"
                      (keydown)="validateInput($event)"
                    />
                    <mat-icon [inline]="true" matSuffix>credit_card</mat-icon>
                    <mat-error *ngIf="status.cardnumber.invalid">{{
                      getErrorMessage().cardnumberError()
                    }}</mat-error>
                    <mat-hint align="end">{{ card.value?.length }}/{{ cardMaxLength || 16 }}</mat-hint>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-row row">
                <!-- expiry -->
                <div class="col-6">
                  <div class="d-flex w-100 justify-content-center">
                    <mat-form-field style="width: 30%;">
                      <mat-label>mm</mat-label>
                      <input
                        matInput
                        formControlName="month"
                        placeholder="mm"
                        class="form-control-sm"
                        maxlength="2"
                        type="text"
                        #mm
                        (keyup)="handleField(mm, yy)"
                        (keydown)="validateInput($event)"
                        required
                      />
                      <mat-icon [inline]="true" matSuffix>date_range</mat-icon>
                      <mat-error *ngIf="status.month.invalid">{{
                        getErrorMessage().monthError()
                      }}</mat-error>
                      <mat-hint align="end">{{ mm.value?.length || 0 }}/2</mat-hint>
                    </mat-form-field>
                    <p class="mb-0 form-inline mx-1" style="font-size: 1.5rem">/</p>
                    <mat-form-field style="width: 30%;">
                      <mat-label>yy</mat-label>
                      <input
                        matInput
                        formControlName="year"
                        placeholder="yy"
                        class="form-control-sm"
                        maxlength="2"
                        type="text"
                        #yy
                        (keyup)="handleField(yy, ctrl)"
                        (keydown)="validateInput($event)"
                        required
                      />
                      <mat-icon [inline]="true" matSuffix>date_range</mat-icon>
                      <mat-error *ngIf="status.year.invalid">{{
                        getErrorMessage().yearError()
                      }}</mat-error>
                      <mat-hint align="end">{{ yy.value?.length || 0 }}/2</mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <!-- cvv -->
                <div class="col-6 justify-content-center form-inline">
                  <mat-form-field appearance="outline" style="width: 60%;">
                    <mat-label>CVV</mat-label>
                    <input
                      matInput
                      formControlName="cvv"
                      placeholder="123"
                      class="form-control-sm"
                      type="text"
                      required
                      maxlength="3"
                      #ctrl
                      (keyup)="handleField(ctrl, btn)"
                      (keydown)="validateInput($event)"
                    />
                    <mat-icon [inline]="true" matSuffix>payment</mat-icon>
                    <mat-error *ngIf="status.cvv.invalid">{{
                      getErrorMessage().cvvError()
                    }}</mat-error>
                    <mat-hint>{{ ctrl.value?.length || 0}}/{{ ctrl?.maxLength }}</mat-hint>
                  </mat-form-field>
                </div>
              </div>

              <!-- button -->
              <div class="row w-100">
                <mat-card-actions class="w-100 d-flex m-l-auto">
                  <button
                    mat-raised-button
                    color=""
                    type="submit"
                    [disabled]="disableBtn()"
                    class="mg-l-auto"
                    #btn
                  >
                    submit
                  </button>
                </mat-card-actions>
              </div>

              <!-- spinner -->
              <div *ngIf="showSpinner" class="spinner-container justify-content-center form-inline w-100" role="status">
                <i class="fa fa-spinner fa-spin fa-2x mg-r-p5"></i> Loading...
              </div>
            </mat-card-content>
          </mat-card>
        </form>
        <!--Card-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>

<!-- floating button -->
<button class="btn btn-outline-primary shop-btn pd-t-p5 pd-b-p5 pd-l-1 pd-r-1"><a class="w-100 h-100" [routerLink]="['../']" fragment="products-tray"><i class="fas fa-hand-point-left fa-1x mg-r-1"></i>continue shopping</a></button>
<app-shop-footer>
</app-shop-footer>
