<app-shop-header [url]="encURL" [add]="stateChanged"></app-shop-header>
<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 mb-4 h-100" style="max-height: 300px;">
        <div *ngIf="imgs; else elseBlock" id="carouselExampleControls" class="carousel slide h-100" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let img of imgs; index as i; first as iFirst" class="carousel-item" [ngClass]="{active: i === 0}">
              <img class="d-block w-100" [src]="img" alt="Image">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black;"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <ng-template #elseBlock class="d-flex w-100 h-100">
          <i class="d-flex img-fluid fa fa-fish w-100 h-100 js-center" style="font-size: 15em;"></i>
        </ng-template>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <!--Content-->
        <div class="p-2">
          <div class="mb-3 form-inline d-flex">
            <p class="dark-grey-text bold-text mg-r-2 h-100" [hidden]="info === undefined" *ngIf="info !== undefined" style="font-size: 25px;">{{info.title}}</p>
            <a [hidden]="info === undefined" *ngIf="info !== undefined">
              <span class="badge purple mr-1 pd-t-p5 pd-b-p5 pd-l-1 pd-r-1">{{info.pack}}</span>
            </a>
            <a [hidden]="info === undefined" *ngIf="info !== undefined">
              <span class="badge mr-1 pd-t-p5 pd-b-p5 pd-l-1 pd-r-1" [ngClass]="{red: info.availability === false, blue: info.availability === true}">{{info.availability ? 'Available' : 'Sold'}}</span>
            </a>
          </div>

          <div class="d-flex form-inline">
            <p class="lead mg-b-p5 mg-t-p5" [hidden]="info === undefined" *ngIf="info !== undefined">
              <span [hidden]="info === undefined" *ngIf="info !== undefined">{{ info.price - 0.01 | currency:'NGN':'symbol-narrow' }}</span>
            </p>
            <div class="d-flex mg-l-auto">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>share</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a [routerLink]="['']"><button mat-menu-item class="form-inline">
                  <mat-icon><i class="fab fa-facebook-square fa-1x"></i></mat-icon>
                  <span class="mg-t-auto mg-b-auto">Facebook</span>
                </button></a>

                <a [routerLink]="['']"><button mat-menu-item class="form-inline">
                  <mat-icon><i class="fab fa-twitter-square fa-1x"></i></mat-icon>
                  <span class="mg-t-auto mg-b-auto">Twitter</span>
                </button></a>

                <a [routerLink]="['']"><button mat-menu-item class="form-inline">
                  <mat-icon><i class="fab fa-whatsapp-square fa-1x"></i></mat-icon>
                  <span class="mg-t-auto mg-b-auto">Whatsapp</span>
                </button></a>

                <a [routerLink]="['']"><button mat-menu-item class="form-inline">
                  <mat-icon><i class="fab fa-instagram fa-1x"></i></mat-icon>
                  <span class="mg-t-auto mg-b-auto">Instagram</span>
                </button></a>

                <a [routerLink]="['']"><button mat-menu-item class="form-inline">
                  <mat-icon>email</mat-icon>
                  <span>Email</span>
                </button></a>
              </mat-menu>
            </div>
          </div>

          <p class="lead font-weight-bold mg-b-p5">Description</p>

          <p class="text-truncate mg-b-1" [hidden]="info === undefined" *ngIf="info !== undefined">{{info.description}}.</p>

          <form class="d-flex justify-content-left form-inline mg-b-1">
            <p class="dark-grey-text bold-text mg-r-p5">Quantity:</p>
            <!-- Default input -->
            <input type="number" value="1" min="1" #qty aria-label="Search" class="form-control mg-r-p5" style="width: 50px">
            <button class="btn btn-primary btn-md mg-l-1 cart-btn" type="submit" (click)="addToCart(qty.value)">Add to Cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>
          </form>
        </div>
        <!--Content-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 text-center">
        <h4 class="my-4 h4">Additional information</h4>
        <p [hidden]="info === undefined" *ngIf="info !== undefined">{{info.description}}</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <!-- Related products -->
    <!-- <div class="row wow fadeIn"> -->
      <!--Grid column-->
      <!-- <div class="col-lg-4 col-md-12 mb-4">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">
      </div> -->
      <!--Grid column-->
    <!-- </div> -->
    <!--Grid row-->
  </div>

  <!-- floating button -->
  <button class="btn btn-outline-primary shop-btn pd-t-p5 pd-b-p5 pd-l-1 pd-r-1"><a class="w-100 h-100" [routerLink]="['../']"><i class="fas fa-hand-point-left fa-1x mg-r-1"></i>shop</a></button>
</main>
<!--Main layout-->
<app-shop-footer></app-shop-footer>
