main {
  background: #fff;
  min-height: calc(100vh - 220px);
  height: fit-content;
}
.shop-btn {
  position: sticky;
  border-radius: 0;
  bottom: 15px;
  left: 15px;
}
.top-ribbon {
  background-color: #6610f2;
  height: 5px;
}
p {
  margin: 0;
}
.purple-text {
  color: #6610f2;
}
.lightgrey-text {
  color: #cccccc;
}
.bold-text {
  font-weight: bold;
}
.cart-btn {
  margin:0!important;
}
/* xs */
@media (max-width: 576px) {
  .container {
    margin-top: 7rem!important;
  }
}


/* Ipad - portrait */
@media (min-width: 768px) and (max-height: 1024px) {
  .container {
    margin-top: 7rem!important;
  }
}

/* Ipad Pro - portrait */
@media (width: 1024px) and (height: 1366px) {
  .container {
    margin-top: 20rem!important;
  }
}

.carousel-control-prev {
  display: flex;
}
