<div class="d-block w-100 h-100">
    <section class="d-block w-100" style="height: 40vh;">
      <img class="w-100 h-100" src="./assets/images/products/full-view.png" alt="Image">
    </section>
    <main class="m-auto w-100 d-block" style="height: fit-content;">
      <div class="prod-card d-block mg-auto" style="height: fit-content; width: 80vw;">
        <div class="top-ribbon w-100"></div>
        <mat-card>
          <mat-card-content style="height: 80vh">
          </mat-card-content>
        </mat-card>
      </div>
    </main>
</div>
