.top-ribbon {
  background-color: #6610f2;
  height: 5px;
}
p {
  margin: 0;
}

.purple-text {
  color: #6610f2;
}
.lightgrey-text {
  color: #cccccc;
}
.bold-text {
  font-weight: bold;
}
/* xlg */
/* @media (min-width: 992px) {
  .prod-card {
    width: 500px;
    height: 500px;
  }
} */
/* lg  - xs*/
@media (min-width: 992px) {
  .prod-card {
    width: 700px;
    height: 600px;
  }
}
/* md - lg */
@media (min-width: 768px) and (max-width: 991px) {
  .prod-card {
    width: 500px;
    height: 500px;
  }
}
/* sm */
@media (min-width: 576px) and (max-width: 767px) {
  .prod-card {
    width: 500px;
    height: 500px;
  }
}
/* Iphone */
/* @media (width: 568px) and (height: 300px) {
  .prod-card {
    width: 500px;
    height: fit-content;
  }
} */
/* landscape sm */
@media (max-width: 576px) and (min-height: 300px) {
  .prod-card {
    width: 500px;
    height: fit-content;
  }
}
/* xs */
@media (max-width: 576px) {
  .prod-card {
    width: 300px;
    height: fit-content;
  }
}
