.view {
  height: 100%;
}

@media (max-width: 740px) {
  .view {
    height: 100vh!important;
  }
  .deck-ex {
    padding: 10px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .view {
    height: 100vh!important;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
      background: #1C2331!important;
  }
}

.btn-container {
  /* height: 100%; */
  margin: auto;
}

.mg-right {
  margin-right: 10px;
}

.mg-left {
  margin-left: 10px;
}
/* my styles */
.soc-icon-col-fb {
  color: #3c5a9a;
}

.soc-icon-col-tw {
  color: #34cbff;
}

.soc-icon-col-in {
  color: #e64583;
}

.soc-icon-col-wh {
  color: #2dd049;
}
