<div class="page-wide">
  <div class="page-container-center">
    <div class="pd-1">
      <div class="header-container pd-p5">
        <div class="text-center">
          <img src="../assets/images/logo.png" alt="logo" class="header-img" />
          <p class="pd-t-p5">Please give your details</p>
        </div>
      </div>
      <div class="body-container">
        <form
          [formGroup]="recoveryform"
          (ngSubmit)="onSubmit()"
          class="splash-container"
        >
          <div class="progress-bar" *ngIf="queryBar">
            <mat-progress-bar
              [color]="color"
              [mode]="mode"
              [value]="value"
              [bufferValue]="bufferValue"
            >
            </mat-progress-bar>
          </div>
          <div>
            <mat-card>
              <mat-card-content class="el">
                <div class="">
                  <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input
                      matInput
                      formControlName="email"
                      placeholder="name@example.com"
                      class="form-control-sm"
                      required
                    />
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-error *ngIf="status.email.invalid">{{
                      getErrorMessage().emailError()
                    }}</mat-error>
                  </mat-form-field>
                </div>
                <mat-card-actions class="btn-container">
                  <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="recoveryform.invalid"
                  >
                    submit
                  </button>
                </mat-card-actions>
              </mat-card-content>
            </mat-card>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
