.mat-icon.mat-icon-inline {
  width: 0!important;
}
.product-imgs {
  height: 280px;
}

@media (min-width: 576px) {
  .product-imgs {
    height: 150px;
  }
  .h-sm-90 {
    height: 90%;
  }
  .h-sm-100 {
    height: 100%;
  }
}

.h-100 {
  height: 100%;
}

@media (max-width: 576px) {
  .addBtn {
    width: 100%;
  }
  .addBtn i {
    margin: auto;
    padding-left: 0!important;
  }
}
