.user-btn {
  display: block;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.user-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}
.actv-usr-pn {
  box-sizing: border-box!important;
  height: fit-content;
  display: table;
  width: 100%!important;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.sub-img-circle {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.user-data {
  width: 100%; display: flex;
}
.user-ctrl {
  display: block; /* prev: table;*/
  box-sizing: border-box!important;
  height: fit-content;
  width: auto!important;
  background-color: rgb(218, 220, 224);
  right: 0;
  left: 0;
  overflow: auto!important;
  clear: both!important;
  /* float: left; */
}
.user-ctrl a:hover {
  background-color: inherit!important;
  color: #1C2331!important;
}
.user-ctrl > div {
  display: table-cell!important;
}
.ctrl-btn {
  border: 1px solid rgb(95, 99, 104)!important;
  border-radius: 3px!important;
  background-color: inherit!important;
  cursor: pointer;
  color: rgb(95, 99, 104)!important;
}
.add-link {
  box-sizing: border-box;
  height: fit-content;
}
.add-link:hover {
  color: #1C2331!important;
}
.add-link i:hover {
  background-color: inherit!important;
  color: #1C2331!important;
}
.bkg {
  background: #f5f5f5;
}
.clearfix {
  clear: both!important;
}
