  <!-- Main Navigation -->
  <header>
  <!-- Navbar -->
  <nav
    class="navbar fixed-top navbar-light white scrolling-navbar p-l-270p"
  >
    <!-- Sidebar -->
    <div class="_sidebar d-none d-md-block ">
      <!-- image -->
      <a class="logo-wrapper waves-effect form-inline grey-text d-flex m-auto" style="width: fit-content;">
        <!-- User image -->
        <img
          *ngIf="userimg !== '' && userimg !== ' ' && userimg !== undefined && userimg !== null; else sidebarImgElseBlock"
          src="{{userimg}}"
          class="img-fluid"
          alt="Profile Image"
          style="width: 50px!important; height: 50px!important; border-radius: 50%;"
        />
        <!-- User image -->

        <!-- Icon -->
        <ng-template #sidebarImgElseBlock>
          <div class="waves-effect grey-text d-flex m-auto pd-p5">
            <i class="img-fluid fas fa-user-circle fa-5x" style="width: fit-content!important; height: fit-content!important;"></i>
          </div>
        </ng-template>
        <!-- Icon -->

        <!-- username and email-->
        <div class="d-block m-auto">
          <p class="dark-grey-text mg-b-p5" style="margin: 0!important;">{{ username }}</p>
          <p class="grey-text " style="margin: 0!important;">{{active.dt.email}}</p>
        </div>
        <!-- username and email-->
      </a>

      <!-- sidebar links -->
      <div class="list-group list-group-flush">
        <ul *ngFor="let sidebarLink of sidebarLinks" style="padding: 0; margin: 0;">
          <a *ngIf="sidebarLink.hasOwnProperty('children') === false" [routerLink]="[{outlets: {dashboard: sidebarLink.link }}]" class="list-group-item list-group-item-action waves-effect item form-inline sidelinks dark-grey-text" style="display: flex!important;">
            <i class="{{ sidebarLink.iconClass }}"></i><p class="show" style="margin: 0;" >{{sidebarLink.title}}</p></a
          >
          <li *ngIf="sidebarLink.hasOwnProperty('children') === true" class="list-group-item list-group-item-action waves-effect item form-inline sidelinks dark-grey-text d-flex">
            <i class="{{ sidebarLink.iconClass }}"></i><p class="show" style="margin: 0;" >{{sidebarLink.title}}</p><i *ngIf="sidebarLink.hasOwnProperty('children')" class="fa fa-chevron-circle-down fa-1x" style="margin-left: auto;" (click)="toggleListDropdown(sublist)"></i>

            <!-- nested items -->
            <div class="d-none pd-t-p5 w-100" #sublist>
              <ul *ngFor="let child of sidebarLink.children" class="d-flex pd-l-1 pd-t-p5 pd-b-p5 w-100 form-inline bd-b" style="width: 100%!important;">
                <a [routerLink]="[{outlets: {dashboard: child.link}}]" class="waves-effect form-inline dark-grey-text d-flex w-100">
                  <i class="{{child.iconClass}} mg-r-1"></i>
                  <p>{{child.title}}</p>
                </a>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- sidebar links -->
    </div>
    <!-- Sidebar -->

    <div class="nav-container form-inline">
      <!-- Brand -->
      <!-- toggle button -->
      <div class="fl-l" style="display: flex; width: fit-content; min-width: 10px; height: 100%; box-sizing: border-box;">
        <button type="button" style="border: none!important; background-color: inherit!important; margin-right: auto;" (click)="toggleSidebar()" data-toggle="tooltip" title="Menu" id="toggle-btn">
          <i class="fas fa-bars fa-1x"></i>
        </button>
      </div>
      <!-- toggle button -->

      <!-- Search Bar and User profile button -->
      <div class="fl-r justify-content form-inline d-flex" id="query-profile" style="box-sizing: border-box; margin-left: auto;">
        <!-- Left -->
        <!-- removed left links -->
        <form class="fl-l d-flex justify-content-center">
          <!-- Default input -->
          <input
            type="search"
            placeholder="Type your query"
            aria-label="Search"
            class="form-control search-input"
            id="search-bar"
            style="min-width: 20vw;"
          />
          <button class="btn btn-primary btn-sm my-0 p" id="search-btn" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <!-- Right -->
        <!-- replace right links with profile icons and other stuffs -->
        <!-- Users -->
        <li class="nav-item user-btn mg-l-1 fl-r dropleft">
          <!-- btn: anchor tag -->
          <a
            class="dropdown-toggled"
            aria-haspopup="true"
            aria-expanded="false"
            id="dropdownMenuLink"
            data-toggle="dropdown"
          >
            <!-- Icon to replace btn user Image -->
            <i *ngIf="userimg === '' || userimg === ' ' || userimg === undefined || userimg === null; else btnElseBlock" class="fas fa-user-circle fa-2x" style="width: 100%!important; height: 100%!important;"></i>
            <!-- Icon to replace user Image -->

            <!-- Else block: btn -->
            <ng-template #btnElseBlock>
              <img *ngIf="userimg !== '' && userimg !== ' ' && userimg !== undefined && userimg !== null" src="{{userimg}}" class="user-img" alt="User Image"/>
            </ng-template>
            <!-- Else block: user image -->
          </a>

          <!-- Dropdown -->
          <div
            class="dropdown-menu static-dp"
            aria-labelledby="dropdownMenuButton"
          >
            <!-- active user -->
            <a class="dropdown-item w-100" style="padding: 0!important;">
              <!-- User image and name -->
              <div class="actv-usr-pn user-data pd-p5 text-center dark-grey-text form-inline w-100 d-flex" style="flex-flow: row!important;">
                <div *ngIf="userimg !== '' && userimg === ' ' && userimg !== undefined && userimg !== null; else userPanelElseBlock" class="pd-t-p5 pd-b-p5 d-flex h-100">
                  <img
                    src="{{userimg}}"
                    class="img-circle"
                    alt="User Image"
                  />
                </div>
                <!-- Icon to replace above -->
                <ng-template #userPanelElseBlock>
                  <div class="pd-t-p5 pd-b-p5 d-flex h-100">
                    <i class="img-fluid fas fa-user-circle fa-5x"></i>
                  </div>
                </ng-template>
                <!-- Icon -->

                <div class="d-block">
                  <p
                    *ngIf="username !== '' && username !== ' '"
                    class="pd-l-1 dark-grey-text d-flex" style="margin-bottom: 0!important;"
                  >
                    {{ username }}
                  </p>
                  <p class="pd-l-1 grey-text d-flex" style="font-size: .7rem;">{{active.dt.email}}</p>
                </div>
              </div>
            </a>

            <!-- other users -->
            <div class="bd-t"></div>
            <div *ngFor="let inactv of inactive" class="w-100 pd-l-1 pd-r-1">
              <div
                *ngIf="showInactvUser === true"
                class="dropdown-item pd-l-p5 pd-r-p5 w-100"
                style="margin-bottom: 0;"
                id="ui-{{inactv.index}}" (click)="oneClickLogin(ui)"
                #uiname
              >
                <!-- User image -->
                <div *ngIf="inactv.dt.img !== '' && inactv.dt.img === ' ' && inactv.dt.img !== undefined && inactv.dt.img !== null; else otherUserPanelElseBlock" class="pd-t-p5 pd-b-p5 d-flex">
                  <img
                    src="{{ inactv.dt.img }}"
                    class="sub-img-circle"
                    alt="User Image"
                  />
                </div>
                <!-- Icon to replace above -->
                <ng-template #otherUserPanelElseBlock>
                  <div class="pd-t-p5 pd-b-p5 d-flex">
                    <i class="img-fluid fas fa-user-circle fa-2x" style="width: fit-content!important; height: fit-content!important;"></i>
                  </div>
                </ng-template>
                <!-- Icon -->
                <div class="d-flex pd-l-1 mr-auto mt-auto mb-auto">
                  <p
                    *ngIf="inactv.dt.firstname !== '' && inactv.dt.firstname !== ' '"
                    class="d-flex grey-text"
                  >
                    {{
                      inactv.dt.firstname + ' ' + inactv.dt.lastname.substring(0, 1).toUpperCase()
                      + '.'
                    }}
                  </p>
                </div>
              </div>
            </div>

            <!-- account control buttons -->
            <!-- added border-top -->
            <div class="dropdown-item bd-t user-ctrl pd-t-p5 pd-b-p5 form-inline" style="width: 100%!important; height: fit-content!important; justify-content: center!important;">
                <div class="fl-l pd-l-p5">
                  <button
                    class="ctrl-btn pd-p5 form-inline cursor-p w-auto"
                    (click)="inOutCtrl()"
                  >
                    {{ what }}
                  </button>
                </div>

                <!-- Add User -->
                <div *ngIf="showActvUser === true" class="fl-r pd-r-p5" style="width: auto!important; margin-left: auto;">
                  <a
                    [routerLink]="['/admin', 'account', 'add']"
                    [queryParams]="{ rt: encURL }"
                    class="add-link form-inline"
                    ><i class="fa fa-user-plus"></i
                  ></a>
                </div>
            </div>
          </div>
        </li>
        <!-- /Users -->
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
<!-- Main Navigation -->

<!-- Main layout -->
<main class="p-l-270p pd-t-5" style="height: fit-content; overflow: auto;">
  <div class="container-fluid mg-t-1" style="height: fit-content;">
    <!-- Heading -->
    <!-- Grid rows wrapped in container reduced to one -->
    <!-- Grid row -->
    <!-- Grid row -->
    <!-- Router outlet with outlet name would be placed here -->
    <!-- <div class="loader"></div> -->
    <router-outlet name="dashboard">  </router-outlet>
  </div>
</main>
<!-- Main layout -->
<!-- Footer -->
<footer
  class="page-footer p-l-270p text-center font-small primary-color-dark darken-2 mg-t-2 wow fadeIn" style="position: absolute; right: 0; left: 0;"
>
  <!-- Call to action -->
  <div class="pt-4">
    <a
      class="btn btn-outline-white"
      href="{{ links[links.length - 1].link }}"
      target="_blank"
      role="button"
      >Learn about Us<i class="fas fa-book ml-2"></i>
    </a>
    <a
      class="btn btn-outline-white"
      [routerLink]="['']"
      target="_blank"
      role="button"
    >
      Find Us on the Map <i class="fas fa-map ml-2"></i>
    </a>
  </div>
  <!-- /.Call to action -->

  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pb-4">
    <a href="{{soc_link.facebook}}" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="{{soc_link.twitter}}" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="{{soc_link.whatsapp}}" target="_blank">
      <i class="fab fa-whatsapp mr-3"></i>
    </a>

    <a href="{{soc_link.instagram}}" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!-- Copyright -->
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a [routerLink]="['']" target="_self"> {{ title }} Integrated Services </a>
  </div>
  <!-- /.Copyright -->
</footer>
<!-- /.Footer -->

<!-- SCRIPTS -->
<!-- MDB core JavaScript -->
<script type="text/javascript" src="./js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();

</script>
