<!-- Main Navigation -->
<header>
  <!-- Navbar -->
  <nav
    class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"
  >
    <div class="container-fluid">
      <!-- Brand -->
      <a
        class="navbar-brand waves-effect"
        [routerLink]="['../../', 'admin']"
        target="_self"
      >
        <!-- insert logo here -->
        <strong class="blue-text">MDB</strong>
      </a>

      <!-- Collapse -->
      <!-- replace navbar collapse button with sidebar collapse button tilted to left -->
      <!-- <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left -->
        <!-- removed left links -->

        <!-- Right -->
        <!-- replace right links with profile icons and other stuffs -->
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed">
    <a class="logo-wrapper waves-effect">
      <img
        src="./assets/images/user8-128x128.jpg"
        class="img-fluid"
        alt="Profile Image"
      />
    </a>

    <div class="list-group list-group-flush">
      <a *ngFor="let sidebarLink of sidebarLinks" [routerLink]="[sidebarLink.link]" class="list-group-item list-group-item-action waves-effect">
        <i class="{{ sidebarLink.iconClass }}"></i>{{sidebarLink.title}}</a
      >
    </div>
  </div>
  <!-- Sidebar -->
</header>
<!-- Main Navigation -->

<!-- Main layout -->
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">
    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">
      <!-- Card content -->
      <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-2 mb-sm-0 pt-1">
          <a [routerLink]="['../../', 'admin']" target="_blank">Home Page</a>
          <span>/</span> <span>Dashboard</span>
        </h4>

        <form class="d-flex justify-content-center">
          <!-- Default input -->
          <input
            type="search"
            placeholder="Type your query"
            aria-label="Search"
            class="form-control"
          />
          <button class="btn btn-primary btn-sm my-0 p" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- Heading -->

    <!-- Grid rows wrapped in container reduced to one -->
    <!-- Grid row -->

    <!-- Grid row -->
    <!-- Router outlet with outlet name would be placed here -->
    <router-outlet name="dashboard"></router-outlet>
  </div>
</main>
<!-- Main layout -->

<!-- Footer -->
<footer
  class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn"
>
  <!-- Call to action -->
  <div class="pt-4">
    <a
      class="btn btn-outline-white"
      href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
      target="_blank"
      role="button"
      >Download MDB <i class="fas fa-download ml-2"></i>
    </a>
    <a
      class="btn btn-outline-white"
      href="https://mdbootstrap.com/education/bootstrap/"
      target="_blank"
      role="button"
      >Start free tutorial <i class="fas fa-graduation-cap ml-2"></i>
    </a>
  </div>
  <!-- /.Call to action -->

  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/MDBootstrap" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a
      href="https://plus.google.com/u/0/b/107863090883699620484"
      target="_blank"
    >
      <i class="fab fa-google-plus mr-3"></i>
    </a>

    <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a
      href="https://github.com/mdbootstrap/bootstrap-material-design"
      target="_blank"
    >
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!-- Copyright -->
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank">
      MDBootstrap.com
    </a>
  </div>
  <!-- /.Copyright -->
</footer>
<!-- /.Footer -->

<!-- SCRIPTS -->
<!-- JQuery -->
<!-- <script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script> -->
<!-- Bootstrap tooltips -->
<!-- <script type="text/javascript" src="./js/popper.min.js"></script> -->
<!-- Bootstrap core JavaScript -->
<!-- <script type="text/javascript" src="./js/bootstrap.min.js"></script> -->
<!-- MDB core JavaScript -->
<script type="text/javascript" src="./js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();
</script>
