  <!-- Main Navigation -->
  <header>
  <!-- Navbar -->
  <nav
    class="navbar fixed-top navbar-light white scrolling-navbar p-l-270p"
  >
    <!-- Sidebar -->
    <div class="_sidebar d-none d-md-block ">
      <!-- User image -->
      <a class="logo-wrapper waves-effect form-inline grey-text" style="display: flex; padding: 5vw 1rem!important; margin: auto;">
        <img
          src="{{userimg}}"
          class="img-fluid"
          alt="Profile Image"
          style="width: 50px!important; height: 50px!important; border-radius: 50%;"
        />
        <p class="pd-l-1">{{ name }}</p>
      </a>
      <!-- User image -->

      <!-- sidebar links -->
      <div class="list-group list-group-flush">
        <a *ngFor="let sidebarLink of sidebarLinks" [routerLink]="[sidebarLink.link]" class="list-group-item list-group-item-action waves-effect item form-inline sidelinks" style="display: flex!important;">
          <i class="{{ sidebarLink.iconClass }}"></i><p class="show" >{{sidebarLink.title}}</p></a
        >
      </div>
      <!-- sidebar links -->
    </div>
    <!-- Sidebar -->

    <div class="nav-container form-inline">
      <!-- Brand -->
      <!-- toggle button -->
      <div class="fl-l" style="display: flex; width: fit-content; min-width: 10px; height: 100%; box-sizing: border-box;">
        <button type="button" style="border: none!important; background-color: inherit!important;" (click)="toggleSidebar()" data-toggle="tooltip" title="Menu" id="toggle-btn">
          <i class="fas fa-bars fa-1x"></i>
        </button>
      </div>
      <!-- toggle button -->

      <!-- Links -->
      <div class="fl-r justify-content form-inline d-flex" id="query-profile" style="display: flex; box-sizing: border-box;">
        <!-- Left -->
        <!-- removed left links -->
        <form class="fl-l d-flex justify-content-center">
          <!-- Default input -->
          <input
            type="search"
            placeholder="Type your query"
            aria-label="Search"
            class="form-control search-input"
            id="search-bar"
            style="min-width: 20vw;"
          />
          <button class="btn btn-primary btn-sm my-0 p" id="search-btn" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <!-- Right -->
        <!-- replace right links with profile icons and other stuffs -->
        <!-- Users -->
          <li class="nav-item user-btn mg-l-1 fl-r dropleft">
            <a
              class="dropdown-toggled"
              aria-haspopup="true"
              aria-expanded="false"
              id="dropdownMenuLink"
              data-toggle="dropdown"
            >
              <i *ngIf="userimg === '' || userimg === ' ' || userimg === undefined || userimg === null" class="fas fa-user-circle fa-2x" style="width: 100%!important; height: 100%!important;"></i>

              <img *ngIf="userimg !== '' && userimg !== ' ' && userimg !== undefined && userimg !== null" src="{{userimg}}" class="user-img" alt="User Image"/>
            </a>
            <div
              class="dropdown-menu static-dp"
              aria-labelledby="dropdownMenuButton"
            >
              <!-- active user -->
              <a class="dropdown-item" style="width: 100%!important;">
                <!-- User image -->
                <div class="actv-usr-pn user-data pd-t-p5 pd-b-1 text-center grey-text form-inline js-center" style="width: 100%!important; display: table;">
                  <!-- <div
                    class="user-data pd-t-p5 text-center grey-text form-inline"
                    style="width: fit-content; justify-content: center;"
                  > -->
                  <div class="pd-t-p5 pd-b-p5" style="display: table-cell;">
                    <img
                      src="{{userimg}}"
                      class="img-circle"
                      alt="User Image"
                    />
                  </div>
                  <div class="" style="display: table-cell;">
                    <p
                      *ngIf="username !== '' && username !== ' '"
                      style="display: table-cell;"
                      class="js-center pd-l-1"
                    >
                      {{ username }}
                    </p>
                  </div>
                  <!-- </div> -->
                </div>
              </a>

              <!-- other users -->
              <div *ngFor="let inactv of inactive">
                <a
                  *ngIf="showInactvUser === true"
                  class="dropdown-item pd-l-p5 pd-r-p5"
                  #model
                >
                  <div class="other-user-panel bd-t">
                    <div class="form-inline text-center">
                      <img
                        class="sub-img-circle mg-p5 mg-r-1"
                        src="{{otherusrimg}}"
                        alt="image"
                      />
                      {{ inactv.dt.firstname + ' ' + inactv.dt.lastname }}
                    </div>
                  </div>
                </a>
              </div>

              <!-- account control buttons -->
              <!-- added border-top -->
              <div class="dropdown-item bd-t user-ctrl pd-t-p5 pd-b-p5 form-inline" style="width: 100%!important; height: fit-content!important; justify-content: center!important;">
                  <div class="fl-l pd-l-p5">
                    <button
                      class="ctrl-btn pd-p5 form-inline"
                      style="width: auto;"
                      (click)="inOutCtrl()"
                    >
                      <i
                        *ngIf="showActvUser === false"
                        class="fa fa-sign-in-alt mg-r-p5"
                      ></i>
                      <i
                        *ngIf="showActvUser === true"
                        class="fa fa-sign-out-alt mg-r-p5"
                      ></i>
                      {{ what }}
                    </button>
                  </div>

                  <!-- Add User -->
                  <div class="fl-r pd-r-p5" style="width: auto!important;">
                    <a
                      [routerLink]="['/user', 'account', 'add']"
                      [queryParams]="{ rt: encURL }"
                      class="add-link form-inline"
                      ><i class="fa fa-user-plus"></i
                    ></a>
                  </div>
              </div>
            </div>
          </li>
        <!-- /Users -->
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
<!-- Main Navigation -->

<!-- Main layout -->
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">
    <!-- Heading -->

    <!-- Grid rows wrapped in container reduced to one -->
    <!-- Grid row -->

    <!-- Grid row -->
    <!-- Router outlet with outlet name would be placed here -->
    <router-outlet name="dashboard"> <div class="loader"></div> </router-outlet>
  </div>
</main>
<!-- Main layout -->

<!-- Footer -->
<footer
  class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn"
>
  <!-- Call to action -->
  <div class="pt-4">
    <a
      class="btn btn-outline-white"
      href="{{ links[links.length - 1].link }}"
      target="_blank"
      role="button"
      >Learn about Us<i class="fas fa-book ml-2"></i>
    </a>
    <a
      class="btn btn-outline-white"
      [routerLink]="['']"
      target="_blank"
      role="button"
    >
      Find Us on the Map <i class="fas fa-map ml-2"></i>
    </a>
  </div>
  <!-- /.Call to action -->

  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pb-4">
    <a href="{{soc_link.facebook}}" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="{{soc_link.twitter}}" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="{{soc_link.whatsapp}}" target="_blank">
      <i class="fab fa-whatsapp mr-3"></i>
    </a>

    <a href="{{soc_link.instagram}}" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!-- Copyright -->
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a [routerLink]="['']" target="_self"> {{ title }} Integrated Services </a>
  </div>
  <!-- /.Copyright -->
</footer>
<!-- /.Footer -->

<!-- SCRIPTS -->
<!-- MDB core JavaScript -->
<script type="text/javascript" src="./js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();

  const el = document.querySelector('#toggle-btn');
  el.addEventListener('click', (e) => {
    const navbar = document.querySelector('.navbar');
    const browserWidth = window.innerWidth;

    console.log({browserWidth});

    if (browserWidth === 1200) navbar.style.paddingLeft = "0!important";
  });

  console.log({el});
</script>
