<!-- Navbar -->
<nav
  class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar justify-content-between nav-fix"
>
  <div class="nav-container">
    <div class="row js-center">
      <!-- Brand -->
      <div class="col-sm-3 js-center">
        <a
          class="navbar-brand navbar-text app-title pd-r-1 pd-l-1"
          [routerLink]="['/']"
          target="_self"
        >
          <strong data-toggle="tooltip" title="Home" data-placement="top">{{
            title
          }}</strong>
        </a>
      </div>
      <!-- /Brand -->

      <!-- Nav links -->
      <div class="col-sm-9 pd-1">
        <!-- Cart and others -->
        <ul class="navbar-nav nav-flex-icons fl-r js-center">
          <!-- signup button -->
          <div
            *ngIf="showActvUser === false"
            class="nav nav-pills nav-fill justify-content-center form-inline mg-r-1"
          >
            <li class="nav-item form-inline">
              <a class="nav-link" [routerLink]="['/user', 'signup']">Signup</a>
            </li>
          </div>
          <!-- Signup  button -->

          <!-- Admin dashboard button -->
          <div
            *ngIf="active !== undefined && active !== null && active.dt.accountType === 'admin'"
            class="nav nav-pills nav-fill justify-content-center form-inline mg-r-1"
          >
            <li class="nav-item form-inline">
              <a class="nav-link" [routerLink]="['/admin', 'dashboard']">Dashboard</a>
            </li>
          </div>
          <!-- Admin dashboard button -->

          <li class="nav-item dropleft">
            <!-- Cart -->
            <a
              class="nav-link waves-effect dropdown-toggled"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="badge red z-depth-1 mr-1"> {{ cart.length }} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> </span>
            </a>
            <div
              class="dropdown-menu static-dp" style="min-width: 220px!important;"
              aria-labelledby="dropdownMenuButton"
            >
              <!-- Cart content -->
              <!-- if nothing in cart -->
              <a class="dropdown-item form-inline" *ngIf="cart.length < 1">
                <p class="pd-p5 text-center justify-content-center form-inline" style="height: fit-content!important; width: fit-content!important; word-break: break-word!important; display: flex!important; flex-wrap: wrap; text-align: center">
                  <i class="fa fa-shopping-basket mg-p5"></i> Your Cart is empty...!
                </p>
              </a>

              <!-- Cart has content -->
              <!-- >= -->
              <a class="dropdown-item pd-1" *ngIf="cart.length >= 1">
                <div class="other-user-panel form-inline mg-l-1">
                  <!-- <div class="form-inline"> -->
                    <!-- <div class="mg-l-1"> -->
                      <img
                        class="sub-img-circle"
                        src="{{otherusrimg}}"
                        alt="image"
                      />
                    <!-- </div> -->
                    <div class="mg-l-p5">Product details 1</div>
                    <i class="fa fa-times-circle mg-l-1"></i>
                  <!-- </div> -->
                </div>
              </a>
              <!-- dont need no divider -->
              <div *ngIf="cart.length >= 1" class="dropdown-divider"></div>

              <!-- checkout -->
              <a class="dropdown-item" *ngIf="cart.length >= 1">
                <div class="other-user-panel">
                  <div class="form-inline">
                    <div class="mg-l-1 js-center">
                      <i class="fa fa-cart-arrow-down mg-r-p5"></i> checkout
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </li>

          <!-- Users -->
          <li class="nav-item user-btn mg-l-1 mg-r-1 dropleft">
            <a
              class="dropdown-toggled"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <!-- Icon to replace btn user Image -->
              <i *ngIf="userimg === '' || userimg === ' ' || userimg === undefined || userimg === null; else btnElseBlock" class="fas fa-user-circle fa-2x" style="width: 100%!important; height: 100%!important;"></i>
              <!-- Icon to replace user Image -->

              <!-- Else block: btn -->
              <ng-template #btnElseBlock>
                <img *ngIf="userimg !== '' && userimg !== ' ' && userimg !== undefined && userimg !== null" src="{{userimg}}" class="user-img" alt="User Image"/>
              </ng-template>
              <!-- Else block: user image -->
            </a>
            <!-- Dropdown -->
            <div
              class="dropdown-menu static-dp"
              aria-labelledby="dropdownMenuButton"
            >
              <!-- active user -->
              <a class="dropdown-item w-100" style="padding: 0!important;">
                <!-- User image and name -->
                <div class="actv-usr-pn user-data pd-p5 text-center dark-grey-text form-inline w-100 d-flex" style="flex-flow: row!important;">
                  <div *ngIf="userimg !== '' && userimg === ' ' && userimg !== undefined && userimg !== null; else userPanelElseBlock" class="pd-t-p5 pd-b-p5 d-flex h-100">
                    <img
                      src="{{userimg}}"
                      class="img-circle"
                      alt="User Image"
                    />
                  </div>
                  <!-- Icon to replace above -->
                  <ng-template #userPanelElseBlock>
                    <div class="pd-t-p5 pd-b-p5 d-flex h-100 m-auto">
                      <i class="img-fluid fas fa-user-circle fa-5x"></i>
                    </div>
                  </ng-template>
                  <!-- Icon -->

                  <div *ngIf="active !== null && active !== undefined" class="d-block">
                    <p
                      class="pd-l-1 dark-grey-text d-flex" style="margin-bottom: 0!important;"
                    >
                      {{ username }}
                    </p>
                    <p class="pd-l-1 grey-text d-flex" style="font-size: .7rem;">{{active.dt.email}}</p>
                  </div>
                </div>
              </a>

              <!-- other users -->
              <div class="bd-t"></div>
              <div *ngFor="let inactv of inactive" class="w-100">
                <div
                  *ngIf="showInactvUser === true"
                  class="dropdown-item pd-l-1 pd-r-1 w-100"
                  style="margin-bottom: 0;"
                  id="ui-{{inactv.index}}" (click)="oneClickLogin(ui, $event)"
                  #ui
                >
                  <!-- User image -->
                  <div *ngIf="inactv !== '' && inactv === ' ' && inactv !== undefined && inactv !== null; else otherUserPanelElseBlock" class="pd-t-p5 pd-b-p5 d-flex">
                    <img
                      src="{{ inactv.dt.img }}"
                      class="sub-img-circle"
                      alt="User Image"
                    />
                  </div>
                  <!-- Icon to replace above -->
                  <ng-template #otherUserPanelElseBlock>
                    <div class="pd-t-p5 pd-b-p5 d-flex">
                      <i class="img-fluid fas fa-user-circle fa-2x" style="width: fit-content!important; height: fit-content!important;"></i>
                    </div>
                  </ng-template>
                  <!-- Icon -->
                  <div class="d-flex pd-l-1 mr-auto mt-auto mb-auto">
                    <p
                      *ngIf="inactv.dt.firstname !== '' && inactv.dt.firstname !== ' '"
                      class="d-flex grey-text"
                    >
                      {{
                        inactv.dt.firstname + ' ' + inactv.dt.lastname.substring(0, 1).toUpperCase()
                        + '.'
                      }}
                    </p>
                  </div>
                </div>
              </div>

              <!-- account control buttons -->
              <!-- added border-top -->
              <div class="dropdown-item bd-t user-ctrl pd-t-p5 pd-b-p5 form-inline w-100" style="min-width: 40px; height: fit-content!important; justify-content: center!important;">
                  <div class="fl-l pd-l-p5">
                    <button
                      class="ctrl-btn pd-t-p5 pd-b-p5 pd-l-2 pd-r-2 form-inline cursor-p"
                      style="min-width: 80px;"
                      (click)="inOutCtrl()"
                    >
                      {{ what }}
                    </button>
                  </div>

                  <!-- Add User -->
                  <div *ngIf="showActvUser === true" class="fl-r pd-r-p5" style="width: auto!important; margin-left: auto;">
                    <a
                      [routerLink]="['/user', 'account', 'add']"
                      [queryParams]="{ rt: encURL }"
                      class="add-link form-inline"
                      ><i class="fa fa-user-plus"></i
                    ></a>
                  </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- /Users -->
      </div>
      <!-- /Nav links -->
    </div>
  </div>
</nav>
<!-- Navbar -->

<!-- Carousel Wrapper -->
<div
  id="carousel-example-1z"
  class="carousel slide carousel-fade pt-4"
  data-ride="carousel"
>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li
      data-target="#carousel-example-1z"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
  </ol>
  <!-- /.Indicators -->

  <!-- Slides -->
  <div class="carousel-inner" role="listbox">
    <!-- First slide -->
    <div class="carousel-item active">
      <div
        class="view"
        style="background-image: url('./assets/images/carousel_3.png'); background-repeat: no-repeat; background-size: cover;"
      >
        <!-- Mask & flexbox options -->
        <div
          class="mask rgba-black-strong d-flex justify-content-center align-items-center"
        >
          <!-- Content -->
          <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4 white-text caption display-4 font-weight-bold">
              <strong>Dominion Dried Catfish</strong>
            </h1>

            <p>
              <strong
                >Freshly processed, hygenically packed for your nourishment and
                delivered to any place you may desire in the world!</strong
              >
            </p>
            <p class="mb-4 d-none d-md-block">
              <strong class="white-text"
                >A Product of {{ title }} Integrated Services</strong
              >
            </p>

            <a
              target="_self"
              href="/shop/#products-tray"
              class="btn btn-outline-white btn-lg"
              >Shop now!<i class="fas fa-shopping-basket ml-2"></i>
            </a>
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options -->
      </div>
    </div>
    <!-- /First slide -->

    <!-- Second slide -->
    <div class="carousel-item">
      <div
        class="view"
        style="background-image: url('./assets/images/carousel_2.png'); background-repeat: no-repeat; background-size: cover;"
      >
        <!-- Mask & flexbox options -->
        <div
          class="mask rgba-black-strong d-flex justify-content-center align-items-center"
        >
          <!-- Content -->
          <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4 caption display-4 font-weight-bold">
              <strong class="white-text">Dominion Dried Catfish</strong>
            </h1>

            <p>
              <strong
                >Freshly processed, hygenically packed for your nourishment and
                delivered to any place you may desire in the world!</strong
              >
            </p>
            <p class="mb-4 d-none d-md-block">
              <strong>A Product of {{ title }} Integrated Services</strong>
            </p>

            <a
              target="_blank"
              href="{{links[links.length - 1].link}}"
              class="btn btn-outline-white btn-lg"
              >Learn about Our Products<i class="fas fa-university ml-2"></i>
            </a>
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options -->
      </div>
    </div>
    <!-- /Second slide -->

    <!-- Third slide -->
    <div class="carousel-item">
      <div
        class="view"
        style="background-image: url('./assets/images/carousel_1.png'); background-repeat: no-repeat; background-size: cover;"
      >
        <!-- Mask & flexbox options -->
        <div
          class="mask rgba-black-strong d-flex justify-content-center align-items-center"
        >
          <!-- Content -->
          <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4 caption display-4 font-weight-bold">
              <strong class="white-text">Dominion Dried Catfish</strong>
            </h1>

            <p>
              <strong
                >Freshly processed, hygenically packed for your nourishment and
                delivered to any place you may desire in the world!</strong
              >
            </p>
            <p class="mb-4 d-none d-md-block">
              <strong>A Product of {{ title }} Integrated Services</strong>
            </p>

            <a
              target="_blank"
              href="{{links[links.length - 1].link}}"
              class="btn btn-outline-white btn-lg"
              >Contact Us<i class="fas fa-address-book ml-2"></i>
            </a>
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options -->
      </div>
    </div>
    <!-- /Third slide -->
  </div>
  <!-- /.Slides -->

  <!-- Controls -->
  <a
    class="carousel-control-prev"
    href="#carousel-example-1z"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carousel-example-1z"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!-- /.Controls -->
</div>
<!-- /.Carousel Wrapper -->

<!-- Main layout -->
<main>
  <div class="container">
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-dark mt-3 mb-3 product-bar"
    >
      <div class="nav-container">
        <div class="row js-center form-inline">
          <!-- Products tab -->
          <div class="d-flex">
            <!-- Links -->
            <ul class="nav justify-content-center">
              <li *ngFor="let type of types" class="nav-item">
                <a class="nav-link pd-r-1 type-link" (click)="switchCategory(type)"
                  >{{type}} <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
            <!-- Links -->
          </div>
          <!-- /Products tab -->

          <!-- Search -->
          <div class="col-sm-5">
            <form
              class="form-inline nav-fill justify-content-center"
              style="width: 100%;"
            >
              <div class="md-form my-0 search" style="width: 100%;">
                <input
                  class="form-control mr-sm-2"
                  type="text"
                  placeholder="Search"
                  aria-label="Search"
                  style="width: 100%;"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <!-- /.Navbar -->

    <!-- Section: Products v.3 -->
    <section class="text-center mb-4" id="products-tray">
      <!-- Grid row -->
      <div class="wow fadeIn">
        <div class="row m-auto justify-content-center" *ngIf="currProdList !== undefined && currProdList !== null">
          <!-- Grid column -->
          <!-- repeat this -->
          <app-product-thumbnail *ngFor="let item of currProdList" [list]="item" class="col-sm-6 col-md-4 mb-4">
          </app-product-thumbnail>
          <!-- Grid column -->
        </div>
      </div>
      <!-- Grid row -->
    </section>
    <!-- Section: Products v.3 -->

    <!-- Pagination -->
    <div class="pagination justify-content-center" style="width: 100%!important">
      <div *ngIf="prodList !== undefined && prodList !== null && prodList.length > 0; else elseBlock" >
        <a (click)="pageHandler(-1)"><i class="fas fa-angle-left fa-2x dark-grey-text"></i></a>
        <!-- <a *ngFor="let product of productsList; index as i" href="#" (click)="pageHandler.index(i)">{{ i + 1 }}</a> -->
        <a (click)="pageHandler(0)"><i class="fas fa-angle-right fa-2x dark-grey-text"></i></a>
      </div>
      <ng-template class="d-flex w-100" #elseBlock>
        <p class="dark-grey-text text" style="text-align: center">No Products at the moment, kindly check again soon...</p>
      </ng-template>
    </div>
    <!-- /paginator -->
  </div>
</main>
<!-- Main layout -->

<!-- Footer -->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <!-- Call to action -->
  <div class="pt-4">
    <a
      class="btn btn-outline-white"
      href="{{ links[links.length - 1].link }}"
      target="_blank"
      role="button"
      >Learn about Us<i class="fas fa-book ml-2"></i>
    </a>
    <a
      class="btn btn-outline-white"
      [routerLink]="['']"
      target="_blank"
      role="button"
    >
      Find Us on the Map <i class="fas fa-map ml-2"></i>
    </a>
  </div>
  <!-- /.Call to action -->

  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pb-4">
    <a href="{{soc_link.facebook}}" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="{{soc_link.twitter}}" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="{{soc_link.whatsapp}}" target="_blank">
      <i class="fab fa-whatsapp mr-3"></i>
    </a>

    <a href="{{soc_link.instagram}}" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!-- Copyright -->
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a [routerLink]="['']" target="_self"> {{ title }} Integrated Services </a>
  </div>
  <!-- /.Copyright -->
</footer>
<!-- /.Footer -->

<!-- SCRIPTS -->
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();
  $('[data-toggle="tooltip"]').tooltip({
    show: 1000,
  });
</script>
