html,
body,
header,
.carousel {
  height: 60vh !important;
  margin-top: 2.5rem;
}

@media (max-width: 740px) {

  html,
  body,
  header,
  .carousel {
    height: 100vh!important;
  }
  margin-top: none 1important;
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body,
  header,
  .carousel {
    height: 100vh!important;
    margin-top: none;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
  .pd-b-ctrl {
    padding-bottom: 0!important;
  }
  .pd-t-ctrl {
    padding-top: 0!important;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
  .pd-b-ctrl {
    padding-bottom: 0!important;
  }
  .pd-t-ctrl {
    padding-top: 0!important;
  }
}


/* My Styles */
.type-link, .type-link a, .type-link a:hover {
  color: #fff!important;
}
.product-bar {
  background-color: #71748d!important;
}
.dropdown-menu {
  width: fit-content!important;
  border-radius: 0!important;
  padding: 0!important;
  clear: both!important;

  /*gmail*/
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  color: #000;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.nav-fix {
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
}
.navbar-brand {
  width: fit-content !important;
}
.dropdown-item {
  width: fit-content!important;
  padding: 0;
  clear: both!important;
  overflow: auto!important;
}
.app-title {
  font-size: 5vh;
}
.static-dp {
  box-sizing: border-box!important;
  position: static !important;
  border-color: #fff !important;
  margin-top: 25px!important;
  right: 0!important;
  top: 20%!important;
  width: fit-content;
  min-width: 240px!important;
  height: fit-content!important;
}
.static-dp a:hover {
  background-color: inherit!important;
}
.user-btn {
  display: block;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.user-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}
.actv-usr-pn {
  box-sizing: border-box!important;
  height: fit-content;
  display: table;
  width: 100%!important;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.sub-img-circle {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.user-data {
  width: 100%; display: flex;
}
.user-ctrl {
  display: block; /* prev: table;*/
  box-sizing: border-box!important;
  height: fit-content;
  width: auto!important;
  background-color: rgb(218, 220, 224);
  right: 0;
  left: 0;
  overflow: auto!important;
  clear: both!important;
  /* float: left; */
}
.user-ctrl a:hover {
  background-color: inherit!important;
  color: #1C2331!important;
}
.user-ctrl > div {
  display: table-cell!important;
}
.ctrl-btn {
  border: 1px solid rgb(95, 99, 104)!important;
  border-radius: 3px!important;
  background-color: inherit!important;
  cursor: pointer;
  color: rgb(95, 99, 104)!important;
}
.add-link {
  box-sizing: border-box;
  height: fit-content;
}
.add-link:hover {
  color: #1C2331!important;
}
.add-link i:hover {
  background-color: inherit!important;
  color: #1C2331!important;
}
.bkg {
  background: #f5f5f5;
}
.clearfix {
  clear: both!important;
}
.search {
  color: #fff!important;
}
.search input {
  color: #fff!important;
}
input:focus:not([readonly]) {
  color: #fff!important;
  border-color: #343a40!important;
  border-bottom: 1px solid #343a40;
  box-shadow: 0 1px 0 0 #343a40!important;
}
/* paginator */
.pagination {
  display: flex;
  box-sizing: border-box;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color:  rgba(0,0,0,.5) /*#4CAF50*/;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
