/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
html, body {
  height: 100%;
  width: 100%;
  /* background: #fff!important; */
}
app-root {
  height: 100%;
  width: 100%;
}
.snackPos {
  float: right;
  align-self: right !important;
  align-items: center !important;
  padding: 5px;
  height: fit-content;
  width: fit-content !important;
  z-index: 100 !important;
}
app-snackbarmsg {
  display: flex;
  border-box: box-sizing;
  margin: auto;
  align-self: right !important;
  align-items: center!important;
  padding: 5px;
  height: fit-content;
  width: fit-content !important;
  z-index: 100 !important;
}
.spinner-div {
  display: flex;
  margin: auto;
  /* align-content: center; */
  align-items: center;
  height: fit-content;
  width: fit-content;
}
.app-loading {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #6f42c1;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

/* My library */
// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .pd-b-ctrl {
    padding-bottom: 0!important;
  }
  .pd-t-ctrl {
    padding-top: 0!important;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
  .pd-b-ctrl {
    padding-bottom: 0!important;
  }
  .pd-t-ctrl {
    padding-top: 0!important;
  }
}

/* Navbar */
.nav-container {
  width: 100% !important;
  justify-content: center !important;
}

/* page wide */
.page-wide {
  width: 100%!important;
  height: 100%!important;
  display: flex;
  align-items: center; /* main-axis: x axis || horizontal axis */
  justify-content: center; /* cross-axis: y axis || vertical axis*/
}
.tooltip {
  z-index: 1030;
}

/* img */
.img-sq-100 {
  width: 100px;
  height: 100px;
}
.img-rt-50-100 {
  width: 100px;
  height: 50px;
}

.js-self-center {
  justify-self: center;
}

/* Border dividers */
.bd-t {
  border-top: 1px solid #ccc;
}

/* float */
.fl-r {
  float: right !important;
}
.fl-l {
  float: left !important;
}

/* margin */
/* full */
.mg-p5 {
  margin: .5rem!important;
}
.mg-1 {
  margin: 1rem!important;
}
.mg-2 {
  margin: 2rem!important;
}
.mg-3 {
  margin: 3rem!important;
}
.mg-4 {
  margin: 4rem!important;
}
.mg-5 {
  margin: 5rem!important;
}
.mg-10 {
  margin: 10rem!important;
}

/* margin right */
.mg-r-p5 {
  margin-right: .5rem !important;
}
.mg-r-1 {
  margin-right: 1rem !important;
}
.mg-r-2 {
  margin-right: 2rem !important;
}
.mg-r-3 {
  margin-right: 3rem !important;
}
.mg-r-4 {
  margin-right: 4rem !important;
}
.mg-r-5 {
  margin-right: 5rem !important;
}

/* margin left */
.mg-l-p5 {
  margin-left: .5rem !important;
}
.mg-l-1 {
  margin-left: 1rem !important;
}
.mg-l-2 {
  margin-left: 2rem !important;
}
.mg-l-3 {
  margin-left: 3rem !important;
}
.mg-l-4 {
  margin-left: 4rem !important;
}
.mg-l-5 {
  margin-left: 5rem !important;
}

/* margin top */
.mg-t-p5 {
  margin-top: .5rem !important;
}
.mg-t-1 {
  margin-top: 1rem !important;
}
.mg-t-2 {
  margin-top: 2rem !important;
}
.mg-t-3 {
  margin-top: 3rem !important;
}
.mg-t-4 {
  margin-top: 4rem !important;
}
.mg-t-5 {
  margin-top: 5rem !important;
}
.mg-t-10 {
  margin-top: 10rem !important;
}
.mg-t-20 {
  margin-top: 20rem !important;
}

/* margin bottom */
.mg-b-p5 {
  margin-bottom: .5rem !important;
}
.mg-b-1 {
  margin-bottom: 1rem !important;
}
.mg-b-2 {
  margin-bottom: 2rem !important;
}
.mg-b-3 {
  margin-bottom: 3rem !important;
}
.mg-b-4 {
  margin-bottom: 4rem !important;
}
.mg-b-5 {
  margin-bottom: 5rem !important;
}
.mg-b-10 {
  margin-bottom: 10rem !important;
}
.mg-b-20 {
  margin-bottom: 20rem !important;
}

/* padding */
/* full */
.pd-p5 {
  padding: .5rem!important;
}
.pd-1 {
  padding: 1rem!important;
}
.pd-2 {
  padding: 2rem!important;
}
.pd-3 {
  padding: 3rem!important;
}
.pd-4 {
  padding: 4rem!important;
}
.pd-5 {
  padding: 5rem!important;
}
.pd-10 {
  padding: 10rem!important;
}

/* padding left */
.pd-l-p5 {
  padding-left: .5rem!important;
}
.pd-l-1 {
  padding-left: 1rem!important;
}
.pd-l-2 {
  padding-left: 2rem!important;
}
.pd-l-3 {
  padding-left: 3rem!important;
}
.pd-l-4 {
  padding-left: 4rem!important;
}
.pd-l-5 {
  padding-left: 5rem!important;
}
.pd-l-10 {
  padding-left: 10rem!important;
}

/* padding right */
.pd-r-p5 {
  padding-right: .5rem!important;
}
.pd-r-1 {
  padding-right: 1rem!important;
}
.pd-r-2 {
  padding-right: 2rem!important;
}
.pd-r-3 {
  padding-right: 3rem!important;
}
.pd-r-4 {
  padding-right: 4rem!important;
}
.pd-r-5 {
  padding-right: 5rem!important;
}
.pd-r-10 {
  padding-right: 10rem!important;
}

/* padding top */
.pd-t-p5 {
  padding-top: .5rem !important;
}
.pd-t-1 {
  padding-top: 1rem !important;
}
.pd-t-2 {
  padding-top: 2rem !important;
}
.pd-t-3 {
  padding-top: 3rem !important;
}
.pd-t-4 {
  padding-top: 4rem !important;
}
.pd-t-5 {
  padding-top: 5rem !important;
}
.pd-t-10 {
  padding-top: 10rem !important;
}
.pd-t-20 {
  padding-top: 20rem !important;
}

/* padding bottom */
.pd-b-p5 {
  padding-bottom: .5rem !important;
}
.pd-b-1 {
  padding-bottom: 1rem !important;
}
.pd-b-2 {
  padding-bottom: 2rem !important;
}
.pd-b-3 {
  padding-bottom: 3rem !important;
}
.pd-b-4 {
  padding-bottom: 4rem !important;
}
.pd-b-5 {
  padding-bottom: 5rem !important;
}
.pd-b-10 {
  padding-bottom: 10rem !important;
}
.pd-b-20 {
  padding-bottom: 20rem !important;
}

/* justify */
.js-center {
  display: flex;
  justify-self: center !important;
  justify-content: center !important;
  align-items: center;
  align-self: center;
}
