<!-- Footer -->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <!-- Call to action -->
  <div class="pt-4">
    <a
      class="btn btn-outline-white"
      href="{{ links[links.length - 1].link }}"
      target="_blank"
      role="button"
      >Learn about Us<i class="fas fa-book ml-2"></i>
    </a>
    <a
      class="btn btn-outline-white"
      [routerLink]="['']"
      target="_blank"
      role="button"
    >
      Find Us on the Map <i class="fas fa-map ml-2"></i>
    </a>
  </div>
  <!-- /.Call to action -->

  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pb-4">
    <a href="{{soc_link.facebook}}" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="{{soc_link.twitter}}" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="{{soc_link.whatsapp}}" target="_blank">
      <i class="fab fa-whatsapp mr-3"></i>
    </a>

    <a href="{{soc_link.instagram}}" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!-- Copyright -->
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a [routerLink]="['']" target="_self"> {{ title }} Integrated Services </a>
  </div>
  <!-- /.Copyright -->
</footer>
<!-- /.Footer -->
